body {
  background-image: url("../images/background.jpg");
  background-size: cover;
}
.posts-btn-wrapper {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
}
.posts-btn-wrapper .outer-btns {
  background-color: yellow;
  padding: 5px 15px;
  margin: 5px;
  border: none;
}

#createPostModal .modal-content {
  width: 85%;
  margin: 3% auto;
}
#createPostModal .modal-content .contents {
  min-height: 300px;
}
#createPostModal .modal-content .create-btn-div {
  text-align: center;
}
#createPostModal .modal-content .create-btn-div .btn {
  padding: 5px 25px;
  border-radius: 0;
}
