body{
    background-image: url("../images/background.jpg");
    background-size: cover;
    padding: 10px;
}
.posts-btn-wrapper{
    min-height: 450px;
    display: flex;
    justify-content: center;
    align-items: center;
}