.post-wrapper {
  width: 90%;
  margin: 10px auto;
}
.post-title {
  text-align: center;
  font-weight: bold;
  font-size: 20px;
  margin-bottom: 20px;
}
#author {
  font-size: 18px;
}
.btn-common,
.btn-common:hover,
.btn-common:focus {
  border-radius: 0;
  background-color: red;
  border: none;
  padding: 5px 15px;
}
.editable {
  outline: 1px solid pink;
}
.author-edit-wrapper {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}
.post-content {
  margin-bottom: 20px;
}
#likeText {
  margin-top: 5px;
  margin-bottom: 20px;
}
#commentBox {
  width: 100%;
  min-height: 100px;
}
.comment-button {
  margin-bottom: 20px;
}
.all-comments-text {
  font-weight: bold;
}
#commentsWrapper {
  background-color: lightgray;
  padding: 20px 5px;
}
#commentsWrapper p {
  background-color: white;
  padding: 20px 10px;
}
